@import url("colors.css");

*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
    background-image: url(images/img.png);
    background-attachment: fixed;
}

#main-container {
    margin: 5% auto;

}

#left-container{
    background-color: var(--bg);    
    border-radius: 1rem 0 0 1rem; 
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
    color: #ffffff;

}

#search-bar {
    margin: 3.5rem 10% 2rem 10%;
    
}

input {
    border: 0.1rem solid rgb(44, 44, 44);
    border-radius: 5rem;
    padding: 0.4rem 0;
    background-color: #f5f5ef;

}

#imgWeather{
    width: 99%;
    padding: 0;
    margin: 1.5rem 0 0 0;
}


#temperature {
    font-size: 5.5rem;
    margin: 0 auto 0.4rem auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#description-container{
    margin: 0.5rem auto;
}

#place-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#city-img{
    position: relative;
    width: 99%;
    height: 55%;
    padding: 0;
    border-radius: 0.5rem;
    object-fit: cover;
}

#city{
    position: absolute;
    color: #ffffff;
    font-size: 1.4rem; /*make this responsive*/
}

#right-container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
    background-color: rgba(243, 243, 243, 0.265);
    backdrop-filter: blur(5px);
    border-radius: 0 1rem 1rem 0; 
}

h1 {
    color: #ffffff;
}

#nav-bar {
    margin: 2.5rem 3% 3%;
}

#cards {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(234, 234, 234, 0.875);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .13); 
    backdrop-filter: blur(5px);
    margin: 0.5rem 0.8rem;
    padding: 0.5rem 0 0 0;
    
}

#week-days {
    margin: 0 0.4rem;

}

.title {
    margin: 1.5rem auto;
}




