@import url("colors.css");

*{
    margin: 0 auto;
    padding: 0 auto;
}
body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23adabc4'/%3E%3Cstop offset='1' stop-color='%23adabc4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffdd80'/%3E%3Cstop offset='1' stop-color='%23ffdd80' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23be3287'/%3E%3Cstop offset='1' stop-color='%23be3287' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235F5D83'/%3E%3Cstop offset='1' stop-color='%235F5D83' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFBA00'/%3E%3Cstop offset='1' stop-color='%23FFBA00' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#main-container {
    margin: 5% auto;
    border-radius: 5rem;
}

#left-container{
    background-color: var(--bg);    
    border-radius: 1rem 0 0 1rem; 
}

#right-container {
    background-color: var(--bg2);
    border-radius: 0 1rem 1rem 0; 
}

#search-bar {
    margin: 3.1rem 10% 2rem 10%;
    
}

input {
    border: 0.1rem solid rgb(227, 227, 227);
    border-radius: 5rem;
    padding: 0.4rem 0;
    background-color: var(--bg);
    color: var(--darkPurple);
}

#imgWeather{
    width: 99%;
    padding: 0;
    margin: 1.5rem 0 0 0;
}

#temperature {
    font-size: 5rem;
    margin: 0 auto 0.4rem auto;
}

#description-container{
    margin: 0.5rem auto;
}

#place-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#city-img{
    position: relative;
    width: 99%;
    height: 55%;
    padding: 0;
    border-radius: 0.5rem;
    object-fit: cover;

    
}

#city{
    position: absolute;
    color: #FFFFFF;
    font-size: 1.4rem; /*make this responsive*/
}


